<header class="head">
    <nav class="row">

    </nav>
    <title>Submitted Orders</title>
</header>
<div class="container-fluid about">
    <div class="container text">
        <div class="row">
            <div class="col-12">
                <div class="articles" style="color: black;">
                    <Span>Hello it works!</Span>
                    <ul>
                        {{#each order}}
                        <li>{{this.[0]}} <b>{{this.[1]}}</b></li>
                        {{/each}}
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
</div>
</div>

